.app {
  text-align: center;
}

.page-title {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.table-container {
  border: 2px solid #dee2e6;
  border-radius: 0.5em !important;
}

.table th,
td {
  text-align: left;
}

.table th {
  font-weight: normal;
}

.table td {
  font-weight: bold;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.form-button {
  margin: 1em;
}
